*, *:before, *:after { box-sizing: inherit; }
::selection { background: #EDECDB; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

body {
  // overflow-x: hidden;
  // min-height: 100vh;
  background: #0b0b0b;
  color: rgba(white,1);
  font: normal 1.6rem/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.3px;
}

a { text-decoration: none; color: inherit; }

body, h1, h2, h3, h4, h5, h6, p, a, span, blockquote, caption, ul, li, img, button, section, article, figure, main, footer {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

button     { border: none; background: #ccc; cursor: pointer; }
video, img { max-width: 100%; height: auto; }
ul         { list-style-type: none; -webkit-margin-before: 0; -webkit-margin-after: 0; }
li         { display: inline-block; }
:focus     { outline: 0; }
