@import '@/assets/mq.scss';

@font-face {
	font-family: 'Mabry';
	src: url('~static/font/Mabry.woff');
	src: local('☺'), url('~static/font/Mabry.woff') format('woff');
}

@font-face {
	font-family: 'SpaceGrotesk';
	src: url('~static/font/SpaceGrotesk.woff');
	src: local('☺'), url('~static/font/SpaceGrotesk.woff') format('woff');
}

.f-mabry { font-family: 'Mabry', var(--system_font); }
.f-space { font-family: 'SpaceGrotesk', var(--system_font); }

.tac { text-align: center; }
.tar { text-align: right; }

h1 {
  font-size: 3.2rem;
  line-height: 1;

  @include breakpoint(mdl) { font-size: 4vw; }
}

h3, figcaption {
  font-size: 2rem;
  line-height: 1;
  @include breakpoint(mdl) { font-size: 2.4rem; }
}

h5 { font-size: 1.6rem; }

p {
  font-family: 'SpaceGrotesk', var(--system_font);
  @include breakpoint(mdl) { font-size: 2rem; line-height: 1.6; }
}
